# Python cache
__pycache__/
*.pyc

# Database file
instance/kostprijs.db

# Virtual environment
# (Als je venv map in je project staat, voeg de naam hier toe)
# Voorbeeld:
# env/
venv/

# IDE / Editor-specifieke bestanden
.vscode/
.idea/